.search_box form input{
    width: 735px;
    height: 55px;
}
._apap{
    color: #f78f1e;
}
.ksdjfkfj{
    background-color: #f78f1e;
    top: -5px;
    right: -6px;
}
._APAPAP{
    background-color: black;
    padding-inline-start: 23px;
    padding-inline-end: 24px;
    height: 34px;
}