:root {
    --dark-gray_700: #f1f5fb;
    --orange-color-700: #f78f1e;
}

._paoa {
    background-color: var(--dark-gray_700);
}
.oaiai {
    min-height: 80vh;
}

._oapapa {
    right: 7px;
    top: 45px;
    background-image: url("../../dist/asset/images/Edit.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 30px;
}
._oapap {
    right: 11px;
    bottom: 10px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
